<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cards Gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
  <link rel="stylesheet" href="https://demo.tutorialzine.com/2018/03/3-amazing-bootstrap-4-gallery-templates/#cards-gallery">
</head>
<body>

<section class="gallery-block cards-gallery">
  <div class="container">
    <div class="heading">
      <h2>Holiday Gallery</h2>
    </div>
    <div class="row">
      <div  *ngFor="let picture of pictures;  let i = index" [attr.data-index]="i" class="col-md-6 col-lg-4">
        <div class="card border-0 transform-on-hover">
          <a class="lightbox" routerLink="/showroom">
            <img src="{{picture?.filePath}}"  alt="Card Image" class="card-img-top" (click)="setActiveNumber(picture.id)">
          </a>
          <div class="card-body">
            <h6>Filename: {{picture.fileName}}</h6>
            <p class="text-muted card-text">ID: {{picture.id}} | Time: {{picture.fileDateTime}} | Mimetyp: {{picture.fileMimeTyp}} | Size: {{picture.fileSize}} | Path: {{picture.filePath}}</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
</script>

</body>
</html>
