
<div class="item">
  <img src="{{picture?.filePath}}" alt="Card Image" class="image">
</div>
<table *ngIf="picture">
  <tr>
    <th>Metadaten</th>
  </tr>
  <tr>
    <td>Id:</td>
    <td><input type="text" value="{{picture.id}}" #id></td>
  </tr>
  <tr>
    <td>Filename:</td>
    <td><input type="text" value="{{picture.fileName}}" #name></td>
  </tr>
  <tr>
    <td>Zeit:</td>
    <td><input type="text" value="{{picture.fileDateTime}}" #time></td>
  </tr>
  <tr>
    <td>Mime Typ:</td>
    <td><input type="text" value="{{picture.fileMimeTyp}}" #mime></td>
  </tr>
  <tr>
    <td>Grösse:</td>
    <td><input type="text" value="{{picture.fileSize}}" #size></td>
  </tr>
  <tr>
    <td>Filepfad:</td>
    <td><input type="text" value="{{picture.filePath}}" #path></td>
  </tr>
  <tr>
    <td><button (click)="updatePicture(id,name,time,mime,size,path)">Update</button></td>
    <td><button (click)="deletePicture(id)">Delete</button></td>
  </tr>
</table>
<br>
<br>
<br>


