<link rel="stylesheet" href="home.component.css">
  <h2>Holiday Gallery</h2>

  <div class="textArticle">
    <div class="paddingDiv">
      <p>Herzlich Willkommen auf meiner Ferien Galerie</p>
      <p>Auf dieser Seite kann man Bilder aus den Ferien hochladen und dann in einer Galerie anschauen.</p>
      <p>Ebenfalls kann man die Metadaten der Bilder ansehen indem man in der Galerie auf das jeweilige Bild drückt. Dann öffnet sich ein neuer Screen mit allen relevanten Metadaten.</p>
      <p>Bei Bedarf kann man auf diesem Screen auch die Metadaten anpassen oder das Bild ganz aus der Galerie löschen.</p>
    </div>
  </div>

